# 配置文件
.vscode
.idea
.cache

# 编译文件
*build
devel
*.o
*.so
*.a

# 媒体文件
*.mp4
*.avi
*.flv
*.csv

# 图像文件
*.png
*.jpg
*.jpeg
!rmvl-logo*
!doc/img/**

# 模型文件
*.onnx
*.pth
*.xml

# 日志数据类文件
log
Camera

# 自动生成的参数文件
*para/
!include/rmvlpara

# 其他文件
*.zip
